.DS_Store
*.h5
*.json
.vscode
*.pth
result/
*.npy
*.pdf
cache/
*.txt
!requirements.txt
*.drawio

*.ipynb
!load_gaze_model.ipynb
!load_mae.ipynb
.ipynb_checkpoints
*.npy
*.dat
*.bz2

figures/
*.csv
prototype/
__pycache__/
results/
*.xlsx
run_on_server/

memo/
ckpt/



sig.sh
*.pkl

*.pt
*.pth

*.pyc

# src/clip
# src/taming-transformers

*.ckpt
*.pth.tar
checkpoints/*

*.jpg
*.png
*.JPG

*.PNG
*.gif
__pycache__/

*.log
*.sh

scripts/
*out
*_nodeinfo

dist/